<section class="art-detail container">
 <div class="span-16 pull">

  
  <article class="detail">
    <div class="info-detail">
      <a href="#" title=""><h3>title</h3></a>

      <ul>
        <li><i class="fa fa-calendar-o" aria-hidden="true"></i> <span>tuesday, july 20, 2017</span></li>
        <li><i class="fa fa-user" aria-hidden="true"></i><span> by <a href="#" title="Hoang Nguyen"> Hoang Nguyen</a></span></li>
      </ul>

    </div>
    <img class="img-home" src="assets/image/img-article/article2.jpg" alt="article">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    <div class="info-detail bordertop clearfix">
      <div class="span-10">
        <i class="fa fa-tags" aria-hidden="true"></i>
        <span><a href="#" title="">tag</a></span>
        <span><a href="#" title="">tag</a></span>
        <span><a href="#" title="">tag</a></span>
        <span><a href="#" title="">tag</a></span>
      </div>
      <div  class="pull-right">
        <ul>
          <li><i class="fa fa-comments" aria-hidden="true"></i> <span>13</span></li>
          <li><a href="#" title=""><i class="fa fa-thumbs-up" aria-hidden="true"></i> <span>13</span></a></li>
        </ul>
      </div>
    </div>
  </article>

  <section class="user-decription clearfix">
    <div class="avatar span-3">
      <img src="assets/image/img-user/user1.png" alt="author">
    </div>
    <div class="span-12 last">
      <h4>About Hoang Nguyen</h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
    </div>

  </section>

  <section class="comments">
    <h3 class="title-bg"><a name="comments"></a>Comment</h3>
    <ul>
      <li>
        <img src="assets/image/img-user/user1.png" alt="Image"/>
        <span class="comment-name">John Doe,</span>
        <span class="comment-date">March 15, 2015 </span>
        <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
        <!-- Reply -->
      </li>
      <li>
        <img src="assets/image/img-user/user1.png" alt="Image"/>
        <span class="comment-name">John Doe,</span>
        <span class="comment-date">March 15, 2015</span>
        <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
      </li>
      <li>
        <img src="assets/image/img-user/user1.png" alt="Image"/>
        <span class="comment-name">John Doe,</span>
        <span class="comment-date">March 15, 2015</span>
        <div class="comment-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis, ligula quis sagittis euismod, odio ante molestie tortor, eget ullamcorper lacus nunc a ligula. Donec est lacus, aliquet in interdum id, rutrum ac tellus. Ut rutrum, justo et lobortis commodo, est metus ornare tortor, vitae luctus turpis leo sed magna. In leo dolor, suscipit non mattis in.</div>
      </li>

    </ul>

    <!-- Comment Form -->
    <div class="clearfix comment-form">
      <h6>Leave a Comment</h6>
      <div class="span-2">
        <img src="assets/image/img-user/user1.png" alt="">
      </div>
      <div class="span-12 last">
        <form action="#"  >
          <div class="input-prepend">
            <input class="span-4" id="prependedInput" size="16" type="text" placeholder="Name">
          </div>
          <div class="pull-right span-5">
            <button class="btn lg secondary">send</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
<app-sidebar></app-sidebar>
</section>