<section class="container">
    <div class='form-container'>
      <div class='form f-md clearfix'>
       <form>
         <h3>Article</h3>
         <input type='text' placeholder='Title:'/>
         <select>
           <option value="">Category:</option>
           <option value="2">Love</option>
           <option value="3">Life</option>
           <option value="4">chicken</option>
           option
         </select>
         <input type='text' placeholder='Tag:'/>

         <textarea placeholder="Content:" onkeyup="adjust_textarea(this)"></textarea>

         <div class="file-input-wrapper">
          <button class="btn-file-input">Uploadz Image</button>
          <input type="file" name="file" />
        </div>
        <button type='submit' class="btn md cta">post</button>
      </form>
    </div>
  </div>
</section>
