  <section class="container contacts">
    <div class="content-contact span-16">
      <div class='form f-md'>
       <form>
         <h3>contact Us</h3>
         <input type='text' placeholder='Title:'/>
         <input type='text' placeholder='Name:'/>
         <input type='email' placeholder='Email:'/>
         <input type='text' placeholder='Subject:'/>
         <textarea placeholder="Content:" onkeyup="adjust_textarea(this)"></textarea>
         <button type='submit' class="btn sm cta">send</button>
       </form>
     </div>
   </div>
   <div class="span-8 last info-contact">
   <h3>address</h3>
     <address>
       <i class="fa fa-phone" aria-hidden="true"></i> 090 055 55 99 <br>
       <a href="#" title=""><i class="fa fa-envelope-o" aria-hidden="true"></i> beo.blog@gmail.com <br></a>
       <i class="fa fa-map-marker" aria-hidden="true"></i> Son Tra, Da Nang
     </address>
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.7444267102082!2d108.2331468148586!3d16.07874678887502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421826f7db5fa1%3A0x9b9248c39c225686!2zxJDGsOG7nW5nIHPhu5EgMiwgQW4gSOG6o2kgQuG6r2MsIFPGoW4gVHLDoCwgxJDDoCBO4bq1bmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1495424933982" width="290" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
   </div>
 </section>