.footer{
  background-color: #1A1D21;
  height: 250px;
}
.footer-title{
  color: #FFF;
  padding-top: 15px;
  border-bottom: 1px double #95a5a6;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.popo{
  margin-bottom: 10px;
  color: #bdc3c7;
  font-size: 13px;
  .art{
    margin-bottom: 10px;
  }
  img{
      width: 100px;
      height: 50px;
    }
  a{
    transition: 0.2s color;
    transition-delay: .3s;
    color: #bdc3c7;
    text-transform: capitalize;
    tr
    &:hover{
      color: #ff5108;
    }
  }
}
.label-ft{
  ul{
    list-style: none;
    li{
      display: inline-block;
      margin: 2px 2px;
      a{
        text-transform: uppercase;
        text-decoration: none;
        color: #bdc3c7;
        padding: 5px;
        background-color: #212427;
        border-radius: 3px;
        font-size: 13px;
        &:hover{
          background-color: #363636;
        }
      }
    }
  }
}
