@import url('https://fonts.googleapis.com/css?family=Karla');

$font-face: 'Karla', sans-serif;

$color-black: #000000;
$color-white: #FFFFFF;
$color-gray: #C0C0C0;
$color-dark-gray: #63717f;
$color-orange: #ff5108;
 