  <section class="container">
    <div class='form-container'>
      <div class='form f-md clearfix'>
       <form>
         <h3>setting</h3>
         <input type='text' placeholder='Usename:'/>
         <input type='email' placeholder='Email:'/>
         <input type='text' placeholder='Phone:'/>
         <input type='text' placeholder='Address:'/>
         <input type='password' placeholder='Password:'  />
         <button type='submit' class="btn sm cta">login</button>
         </form>
     </div>
   </div>
 </section>