<section id="register" class="container color">
    <form action="/action_page.php">
      <div class="imgcontainer">
        <img src="assets/image/logo.png" alt="Avatar" class="avatar">
      </div>

      <div class="container-login">
        <label><b>username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>email</b></label>
        <input type="email" placeholder="Enter Email" name="uname" required>

        <label><b>create a password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label><b>confirm your password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <label><b>Avatar</b></label>
        <input type="file" name="avatar" accept="image/*" />

        <label><b>Phone</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label><b>Address</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <div class="opt">
          <button type="submit" >Sign Up</button>
        </div>

      </div>
      <div class="clear"></div>
    </form>
  </section>
