<section class="container">
  <div class='form-container'>
    <div class='form f-sm clearfix'>
     <form>
       <h3>login</h3>
       <input type='email' placeholder='Email:'  />
       <input type='password' placeholder='Password:'  />
       <button type='submit' class="btn md cta">LOGIN</button>
       <div class="opt">
         <a class="pull-letf" href="#" title="password">forgot password ?</a>
         <a class="pull-right" href="#" title="register">Create an account</a>
       </div>
     </form>
   </div>
 </div>
</section>
