.body {

  margin-top: 125px;
  margin-bottom: 50px;
}

.article-home {
  background-color: #fff;
  padding: 10px 0px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
  .info{
    padding: 15px;
    .size{
      font-size: 13px;
      margin-bottom: 15px;
    }
    span, a{
      text-transform: uppercase;
    }
    ul{
      list-style: none;
      display: inline-block;       li{
        display: inline-block;
      }
    }
  }
  .content{

    .img-home{
      width: 630px;
      height: 300px;
    }
    p {
      width: 630px;
      padding: 10px;
    }
  }
  .read{
    margin: 15px;
    border-top: 1px solid #bdc3c7;
    .follow{
      list-style: none;
      padding-top: 5px; 
      li{
        padding: 0px 5px;
        display: inline-block;
        border-right: 1px solid #4f5b66;
        &:last-child{
          border-right: none;
        }
      }
    }
  }
}
.loadmore{
  padding: 0px 260px;
}
