<section class="body container">
  <div class="span-16 pull list-article clearfix">
    <article class="article-home" *ngFor="let art of listArticle | slice:0:3">
      <div class="info  ">
        <a href="#" title="">
          <h3>{{art.title}}</h3>
        </a>

        <div class="size clearfix">
          <div class="span-5">
            <i class="fa fa-user" aria-hidden="true"></i> by <span><a [routerLink]="['/profile']">{{art.user.username}}</a></span>
          </div>

          <div class="span-5 ">
            <i class="fa fa-tags" aria-hidden="true"></i>
            <ul>
              <li>
                <a href="#" title="tag"></a>
              </li>
              <li>
                <a href="#" title="tag"></a>
              </li>
              <li>
                <a href="#" title="tag"></a>
              </li>

            </ul>
          </div>

          <div class="span-5 last">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <span>{{art.updated_at| date:'longDate'}}</span>
          </div>
        </div>

      </div>
      <div class="content">
        <img class="img-home" src="assets/image/img-article/article2.jpg" alt="article">
        <p>{{art.content}}</p>
      </div>
      <div class="read clearfix">
        <div class="span-13">
          <ul class="follow">
            <li>
              <i class="fa fa-comments" aria-hidden="true"></i>
              <span>{{art.count_comments}}</span>
            </li>
            <li>
              <i class="fa fa-thumbs-up" aria-hidden="true"></i>
              <span>{{art.count_favorites}}</span>
            </li>
          </ul>
        </div>

        <div class="span-2 pull-right last">
          <i><a [routerLink]="['/detail']">readmore</a></i>
        </div>

      </div>
    </article>
    <div class="span-16">
      <button class="btn xlg secondary"><i>more article</i></button>
    </div>
  </div>
  <app-sidebar></app-sidebar>


</section>