<header id="header" class="header borderbot fix">
    <section class="container">
      <div class="logo span-8">
        <a horef="#" title="image"><img src="assets/image/logo.png" alt="log" class="image-logo"></a>
      </div>
      <div class="menu pull-right ">
        <ul class="nav">
          <li><a [routerLink]="['/home']">home</a></li>
          <li><a [routerLink]="['/login']">login</a></li>
          <li><a [routerLink]="['/register']">register</a></li>
        </ul>
      </div>
    </section>

  </header><!-- /header -->