<header id="header" class="header borderbot fix">
    <section class="container">
      <div class="logo span-6">
        <a href="" title="image"><img src="assets/image/logo.png" alt="log" class="image-logo"></a>
      </div>
      <div class="menu pull-right ">
        <ul class="nav">
          <li><a [routerLink]="['/home']">home</a></li>
          <li><a [routerLink]="['/newArticle']">Create Article</a></li>
          <li><a [routerLink]="['/login']">login</a></li>
          <li><a [routerLink]="['/contact']">contact</a></li>
        </ul>
      </div>
    </section>

  </header><!-- /header -->