    <div class="span-8 last sliderbar">
      <div class="search">
        <div class="content-search">
          <span class="icon"><i class="fa fa-search"></i></span>
          <input type="search" id="search" placeholder="Search..." />
        </div>
      </div>
      <div class="tag">
        <h3>Category</h3>
        <ul *ngFor="let cate of listCategory">
          <li><a href="#" title="It"><i class="fa fa-angle-right" aria-hidden="true"></i>{{cate.name}}</a></li>
        </ul>
      </div>

      <div class="popular-sil">
        <h3>Popular Post</h3>
        <div class="art-popu clearfix">
          <div class="span-2">
            <a href="#" title=""><img src="assets/image/img-article/article2.jpg" alt="art-popu"></a>
          </div>
          <div class="span-5 last">
            <a href="#" title=""><h4>Title</h4></a>
            <p>ashgdajgdjagsdaghs</p>
          </div>
        </div>

        <div class="art-popu clearfix">
          <div class="span-2">
            <a href="#" title=""><img src="assets/image/img-article/article2.jpg" alt="art-popu"></a>
          </div>
          <div class="span-5 last">
            <a href="#" title=""><h4>Title</h4></a>
            <p>ashgdajgdjagsdaghs</p>
          </div>
        </div>

        <div class="art-popu clearfix">
          <div class="span-2">
            <a href="#" title=""><img src="assets/image/img-article/article2.jpg" alt="art-popu"></a>
          </div>
          <div class="span-5 last">
            <a href="#" title=""><h4>Title</h4></a>
            <p>ashgdajgdjagsdaghs</p>
          </div>
        </div>
      </div>
    </div>