body{
  background-color: #E8E8E8;
}
.container {
  width: 960px;
  margin: 0 auto;
}

.borderbot{
  border-bottom: 1px solid #bdc3c7 ;
}
.bordertop{
  border-top: 1px solid #bdc3c7 ;
}



a{
  text-decoration: none;
  transition: 0.2s color;
  transition-delay: .3s;
  color: #000;
  &:hover{
    color: #ff5108;
  }
}

h1, h2, h3, h4, h5, h6 {font-weight:normal}
h1 {font-size:2.6em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.9em;margin-bottom:0.75em;}
h3 {font-size:1.4em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:0.45em;font-weight: bold;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1em;}
h6 {font-size:1em;font-weight:bold;}
