<section class="profile container">
    <div class="info-user span-7">
      <div class="image-user">
        <img src="cam-4.jpg" alt="name user">
        <span>hoang nguyen <a [routerLink]="['/setting']"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
        <button type='submit' class="btn md secondary"><i class="fa fa-eye" aria-hidden="true"></i> Follow</button>

      </div>
      <div class="social">
        <ul>
          <li><a href="#" title=""><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="#" title=""><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
          <li><a href="#" title=""><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

    <div class="art-profile span-17 last">
      <div class="art clearfix">
        <div class="img-pro span-5">
          <a href="#" title=""><img src="#" alt="art"></a>
        </div>
        <div class="con-pro span-11 last">
          <h3><a href="#" title="title">title</a></h3>
          <div >
            <ul>
              <li><i class="fa fa-calendar-o" aria-hidden="true"></i> 07-05-2017</li>
              <li><i class="fa fa-comments" aria-hidden="true"></i> 12</li>
              <li><i class="fa fa-thumbs-up" aria-hidden="true"></i> 20</li>
            </ul>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei</p>
        </div>
      </div>

    </div>
  </section>
